<form class="row row-cols-sm-auto pt-3 justify-content-center">
  <div class="col-12">
    <div class="input-group">
      <button
        class="btn btn-outline-secondary bi bi-caret-left-fill"
        (click)="navigate(-1)"
        type="button"
      ></button>
      <input
        class="form-control text-center"
        name="dp"
        [(ngModel)]="model"
        ngbDatepicker
        #d="ngbDatepicker"
        (click)="d.toggle()"
      />
      <button
        class="btn btn-outline-secondary bi bi-caret-right-fill"
        (click)="navigate(1)"
        type="button"
      ></button>
    </div>
  </div>
</form>
