<div class="container pt-5">
  <div class="row justify-content-center pt-5">
    <div class="col-8 col-sm-6 col-md-5 col-lg-3">
      <form>
        <h1 class="h3 mb-3 fw-normal text-center">Sign in</h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mt-3 mb-3 text-start px-2">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-success" type="submit">Login</button>

        <!-- Register buttons -->
        <div class="text-center mt-2">
          <p>Not a member? <a href="/register">Register</a></p>
          <p>or sign up with:</p>

          <!-- Social media buttons -->
        </div>
      </form>
    </div>

    <!-- <app-social-media-buttons></app-social-media-buttons> -->

    <div
      class="row row-cols-1 row-cols-sm-3 row-cols-md-2 gap-1 justify-content-center"
    >
      <div class="col-7 col-sm-3 col-md-3 col-lg-1">
        <div class="row">
          <button type="button" class="btn btn-facebook">
            <div class="row justify-content-center">
              <div class="col col-sm-3 col-md-3 col-lg-4">
                <i class="bi bi-facebook text-white text-center"></i>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div class="col-7 col-sm-3 col-md-3 col-lg-1">
        <div class="row">
          <button type="button" class="btn btn-google">
            <div class="row justify-content-center">
              <div class="col col-sm-3 col-md-3 col-lg-7">
                <i class="bi bi-google text-white text-center"> </i>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div class="col-7 col-sm-3 col-md-3 col-lg-1">
        <div class="row">
          <button type="button" class="btn btn-twitter">
            <div class="row justify-content-center">
              <div class="col col-sm-3 col-md-3 col-lg-4">
                <i class="bi bi-twitter text-white text-center"> </i>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
