<div
  class="row row-cols-1 row-cols-sm-3 row-cols-md-2 gap-1 justify-content-center"
>
  <div class="col-7 col-sm-auto col-md-auto">
    <div class="row">
      <button type="button" class="btn btn-block btn-facebook text-white">
        <i class="bi bi-facebook text-white text-center p-1"></i>
        <span>Facebook</span>
      </button>
    </div>
  </div>
  <div class="col-7 col-sm-auto col-md-auto">
    <div class="row">
      <button type="button" class="btn btn-block btn-google text-white">
        <i class="bi bi-google text-white text-center p-1"> </i>
        <span>Google</span>
      </button>
    </div>
  </div>
  <div class="col-7 col-sm-auto col-md-auto">
    <div class="row">
      <button type="button" class="btn btn-block btn-twitter text-white">
        <i class="bi bi-twitter text-white text-center p-1"> </i>
        <span>Twitter</span>
      </button>
    </div>
  </div>
</div>
