<div class="row row-cols-1 row-cols-sm-3 justify-content-center gap-1">
  <div class="col col-sm-3 col-md-3 col-lg-4">
    <div class="row">
      <button type="button" class="btn btn-facebook">
        <div class="col">
          <i class="bi bi-facebook text-white"></i>
          <span class="ps-1 text-white"></span>
        </div>
      </button>
    </div>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-4">
    <div class="row">
      <button type="button" class="btn btn-google">
        <div class="col">
          <i class="bi bi-google text-white"> </i>
          <span class="ps-1 text-white"></span>
        </div>
      </button>
    </div>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-4">
    <div class="row">
      <button type="button" class="btn btn-twitter">
        <div class="col">
          <i class="bi bi-twitter text-white"> </i>
          <span class="ps-1 text-white"></span>
        </div>
      </button>
    </div>
  </div>
</div>
