<div class="container mt-3">
  <div class="row row-cols-sm-2 justify-content-between">
    <div class="col-md-4">
      <div class="dropdown">
        <button
          class="btn btn-success dropdown-toggle w-25"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Add
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Breakfast</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Lunch</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Dinner</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Snack</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Excercise</a></li>
        </ul>
      </div>

      <div class="col-md-12 pt-3">
        <div *ngFor="let meal of meals">
          <app-meal-card [meal]="meal"></app-meal-card>
        </div>
        <div class="card">
          <div class="card-header">
            <h5 class="card-title text-left">Excersice 500 kcal</h5>
          </div>
          <div class="card-body">
            <div class="row justify-content-between">
              <p class="col-6">Running up that hill running up that hill</p>
              <p class="col-auto">4555 min</p>
              <p class="col-auto">3505 kcal</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <app-datepicker-range-popup></app-datepicker-range-popup>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
