<div class="container mt-3">
  <div class="row row-cols-1 row-cols-sm-3 justify-content-between">
    <div class="col-12 col-sm-5 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Calculate Your TDEE</h2>

          <form (ngSubmit)="calculateBMR()">
            <div class="form-group">
              <label for="weightInput">Weight (kg)</label>
              <input
                type="number"
                class="form-control"
                id="weightInput"
                [(ngModel)]="weight"
                name="weight"
                required
              />
            </div>
            <div class="form-group">
              <label for="heightInput ">Height (cm)</label>
              <input
                type="number"
                class="form-control"
                id="heightInput"
                [(ngModel)]="height"
                name="height"
                required
              />
            </div>
            <div class="form-group">
              <label for="ageInput">Age</label>
              <input
                type="number"
                class="form-control"
                id="ageInput"
                [(ngModel)]="age"
                name="age"
                required
              />
            </div>
            <div class="form-group">
              <label for="genderInput">Gender</label>
              <select
                class="form-control"
                id="genderInput"
                [(ngModel)]="gender"
                name="gender"
                required
              >
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>

            <div class="form-group">
              <label for="activityLevelInput">Activity level</label>
              <select
                class="form-control"
                id="activityLevelInput"
                [(ngModel)]="activityLevel"
                name="activityLevel"
                required
              >
                <option value="sedentary">
                  Sedentary (little or no exercise)
                </option>
                <option value="light">Light (Exercise 1-3 times/week)</option>
                <option value="moderate">
                  Moderate (Exercise 4-5 times/week)
                </option>
                <option value="high">
                  High (Daily exercise or intense exercise 3-4 times/week)
                </option>
                <option value="veryHigh">
                  Very high (Intense exercise 6-7 times/week)
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="bodyFatInput">Body Fat % (optional)</label>
              <input
                type="number"
                class="form-control"
                id="bodyFatInput"
                [(ngModel)]="bodyFat"
                name="bodyFat"
                required
              />
            </div>

            <button type="submit" class="w-100 btn btn-success mt-4">
              Calculate
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-4 col-lg-3" *ngIf="tdee">
      <div class="card mt-3 mt-md-0">
        <div class="card-body">
          <h2 class="card-title text-center">Your TDEE</h2>
          <h1 class="display-4 text-center">
            {{ tdee | number : "1.0-0" }}
          </h1>

          <p class="lead text-center">Kcal a day</p>
        </div>
      </div>
    </div>

    <div class="col col-sm-12 col-md-4 pt-3 pt-md-0">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title text-center">What is TDEE?</h2>
        </div>
        <div class="card-body">
          <p>
            <strong>Total Daily Energy Expenditure (TDEE) </strong> is the total
            amount of energy a person burns in a day. It takes into account your
            basal metabolic rate (BMR), which is the amount of energy your body
            burns at rest, as well as the energy burned through physical
            activity and digestion of food.
          </p>
          <p>
            TDEE can be calculated using a variety of formulas and factors such
            as <strong>age, weight, height, and activity level.</strong> Knowing
            your TDEE can help you understand how many calories you need to
            consume in order to maintain, gain, or lose weight.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
