<header class="py-3 text-bg-dark">
  <div
    class="container-fluid d-grid gap-3 align-items-center"
    style="grid-template-columns: 1fr 2fr 1fr"
  >
    <a [routerLink]="['']" class="navbar-brand"
      ><h2>Recipe App <i class="bi bi-egg-fried"></i></h2>
    </a>

    <ul
      class="nav col-4 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
    >
      <li>
        <a href="#" class="nav-link px-4 text-white"><h4>My Recipes</h4></a>
      </li>
      <li>
        <a href="#" class="nav-link px-4 text-white"><h4>Ingredients</h4></a>
      </li>
    </ul>

    <div>
      <button type="button" class="btn btn-outline-light me-2">Login</button>
      <button type="button" class="btn btn-danger">Sign-up</button>
    </div>
  </div>
</header>
