<div class="container">
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to cancel the creation of this recipe?
        </div>
        <div class="modal-footer border-0 pt-4">
          <button
            type="button"
            class="btn btn-outline-secondary border-0"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            [routerLink]="['/recipes']"
          >
            ok
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center py-3">
    <div class="col-12 col-lg-8">
      <div class="card border-0">
        <div class="card-body">
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Cancel
          </button>

          <h3 class="card-title text-center pt-4">Create Recipe</h3>

          <form [formGroup]="recipeForm" (ngSubmit)="createRecipe()">
            <div class="col-5 form-group pt-4">
              <label for="recipeName">Name</label>
              <input
                type="text"
                class="form-control"
                id="recipeName"
                name="recipeName"
                placeholder="Ex.Overnight Oats"
                formControlName="name"
                [maxLength]="60"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
              />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.minlength">Name is too short</div>
              </div>
            </div>
            <div class="col form-group">
              <label for="recipeDescription">Description</label>
              <textarea
                class="form-control"
                rows="4"
                id="recipeDescription"
                name="recipeDescription"
                formControlName="description"
                placeholder="Describe your recipe"
                [maxLength]="1500"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
              >
              </textarea>
              <div
                *ngIf="submitted && f.description.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.description.errors.required">
                  Description is required
                </div>
              </div>

              <div
                *ngIf="submitted && f.description.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.description.errors.minlength">
                  Description is too short
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-2">
                <label for="recipeTime" class="form-label">Time (min)</label>
                <input
                  type="number"
                  class="form-control"
                  id="recipeTime"
                  name="recipeTime"
                  formControlName="time"
                  [maxLength]="500"
                  [ngClass]="{ 'is-invalid': submitted && f.time.errors }"
                />
                <div
                  *ngIf="submitted && f.time.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.time.errors.required">Time is required</div>
                </div>
              </div>

              <div class="form-group col-2">
                <label class="form-label" for="recipeCalories"
                  >Calories (kcal)</label
                >

                <input
                  type="number"
                  id="recipeCalories"
                  name="recipeCalories"
                  formControlName="calories"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.calories.errors }"
                />
                <div
                  *ngIf="submitted && f.calories.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.calories.errors.required">
                    Calories is required
                  </div>
                </div>
              </div>

              <div class="col-auto align-self-end">
                <i
                  class="bi bi-info-circle"
                  placement="right"
                  ngbTooltip="The calorie count is determined based on the ingredients you've entered or, alternatively, you can manually input the calorie information for your recipe."
                ></i>
              </div>
            </div>

            <!-- ingredients section  -->
            <div class="row pt-4">
              <h4>Ingredients</h4>
              <div class="form-group col-5">
                <label for="ingredientName" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="ingredientName"
                  placeholder="Ex. Banana"
                  [maxLength]="60"
                  formControlName="ingredientName"
                />
              </div>

              <div class="form-group col-3 col-lg-2">
                <label for="ingredientWeight" class="form-label">Weight </label>
                <input
                  type="number"
                  class="form-control"
                  id="ingredientWeight"
                  placeholder="250"
                  [maxLength]="12"
                  formControlName="ingredientWeight"
                />
              </div>
              <div class="form-group col-auto align-self-end">
                <select
                  class="form-control form-select"
                  id="weightUnit"
                  formControlName="ingredientUnit"
                >
                  <option *ngFor="let unit of units" [value]="unit">
                    {{ unit }}
                  </option>
                </select>
              </div>
              <div class="col align-self-end">
                <button
                  type="button"
                  class="btn btn-outline-secondary mt-4 border-0"
                  (click)="addIngredient()"
                >
                  Add
                </button>
              </div>
            </div>

            <!-- steps section -->
            <div class="row pt-4">
              <h4>Steps</h4>
              <div class="col">
                <textarea
                  class="form-control"
                  rows="4"
                  id="step"
                  name="step"
                  formControlName="step"
                  placeholder="What steps should be taken?"
                  [maxLength]="1500"
                  [ngClass]="{ 'is-invalid': submitted && steps.length === 0 }"
                ></textarea>
                <div
                  *ngIf="submitted && steps.length === 0"
                  class="invalid-feedback"
                >
                  <div *ngIf="steps.length === 0">Step is required</div>
                </div>
              </div>
            </div>
            <div class="row justify-content-end pt-3">
              <div class="col-auto">
                <button
                  type="button"
                  class="btn btn-outline-secondary border-0"
                  (click)="addStep()"
                >
                  Add
                </button>
              </div>
            </div>

            <!-- picture -->
            <div class="form-group row justify-content-center py-4">
              <label for="imageInput"> <h4>Picture</h4></label>
              <input
                type="file"
                class="form-control-file pb-4"
                id="imageInput"
                accept="image/*"
                (change)="previewImage($event)"
              />
              <div class="image-container px-0" *ngIf="imageURL">
                <img
                  [src]="imageURL"
                  alt="imageURL"
                  class="img-fluid rounded"
                />
              </div>
            </div>

            <div class="col">
              <app-form-buttons
                (resetButton)="resetForm()"
                [buttonText]="'Create'"
              >
              </app-form-buttons>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
