.card {
  box-shadow: 0 -4px 8px 0 hsla(0, 0%, 0%, 0.2);
}

.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 500px;
  height: 350px;
}

.image-container {
  max-width: 100%;
  max-height: 100%;
  width: 500px;
  height: 350px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
