<div class="container space">
  <div class="row row-cols-1">
    <div class="col-10 col-xs-7 col-sm-10 col-md-5 pt-4">
      <button type="button" class="btn btn-danger" [routerLink]="['/recipes']">
        Back
      </button>
    </div>

    <div class="col pt-4">
      <div class="row row-cols-1 row-cols-md-2">
        <div *ngIf="recipe.imagePath" class="col">
          <img
            class="card-img-top"
            [src]="recipe.imagePath"
            alt="{{ recipe.name }}"
          />
        </div>
        <div class="col">
          <h3 class="fw-bold text-center fst-italic">{{ recipe.name }}</h3>
          <div class="row row-cols-1 row-cols-sm-3 py-3">
            <div class="col">
              <i class="bi bi-alarm"></i>
              <span class="px-1 fst-italic">{{ recipe.time }} min </span>
            </div>
            <div *ngIf="recipe.ingredients" class="col">
              <i class="bi bi-book"></i>
              <span class="px-1 fst-italic"
                >{{ recipe.ingredients.length }} ingredients
              </span>
            </div>
            <div class="col">
              <i class="bi bi-fire"></i>
              <span class="px-1 fst-italic">{{ recipe.calories }} kcal</span>
            </div>
          </div>
          <p class="pt-1 pt-sm-3 pt-md-4 pt-lg-5 justify">
            {{ recipe.description }}
          </p>
        </div>
      </div>
    </div>

    <div class="col pt-4">
      <h4 *ngIf="recipe.ingredients">Ingredients</h4>

      <div class="container pt-2">
        <div class="row">
          <div class="col-auto" *ngFor="let row of rows">
            <li class="pb-2" *ngFor="let ingredient of row; let i = index">
              {{ ingredient.name }} {{ ingredient.weight }}{{ ingredient.unit }}
            </li>
          </div>
        </div>
      </div>

      <!-- <ul *ngFor="let row of rows" class="row g-1 pt-2">
        <li class="col" *ngFor="let ingredient of row; let i = index">
          <div>
            {{ ingredient.name }} {{ ingredient.weight }}{{ ingredient.unit }}
          </div>
        </li>
      </ul> -->

      <h4 class="pt-4">Directions</h4>
      <div class="pt-2" *ngFor="let step of recipe.steps; let i = index">
        <h4>Step {{ i + 1 }}</h4>
        <p class="justify">
          {{ step }}
        </p>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column mt-5 gap-5"></div>
</div>
