<div class="container mt-3">
  <div class="row row-cols-1 row-cols-sm-3 justify-content-between">
    <div class="col-12 col-sm-5 col-md-4 col-lg-3">
      <div class="card border-0">
        <div class="card-body">
          <h3 class="card-title text-center">Calculate Your BMI</h3>
          <form (ngSubmit)="calculateBMI()">
            <div class="form-group">
              <label for="weightInput">Weight (kg)</label>
              <input
                type="number"
                class="form-control"
                id="weightInput"
                [(ngModel)]="weight"
                name="weight"
                required
              />
            </div>
            <div class="form-group">
              <label for="heightInput">Height (cm)</label>
              <input
                type="number"
                class="form-control"
                id="heightInput"
                [(ngModel)]="height"
                name="height"
                required
              />
            </div>
            <div class="form-group">
              <label for="ageInput">Age</label>
              <input
                type="number"
                class="form-control"
                id="ageInput"
                [(ngModel)]="age"
                name="age"
                required
              />
            </div>
            <div class="form-group">
              <label for="genderInput">Gender</label>
              <select
                class="form-control"
                id="genderInput"
                [(ngModel)]="gender"
                name="gender"
                required
              >
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>

            <div class="row justify-content-end gap-1" id="bottom-div">
              <button
                type="submit"
                class="col-4 btn btn-primary-outline mt-4 btn-secondary border-0 text-secondary"
              >
                Reset
              </button>
              <button type="submit" class="col-4 btn btn-success mt-4">
                Calculate
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-sm-5 col-md-4 col-lg-3 pt-3 pt-sm-0 pt-md-0 pt-lg-0"
      *ngIf="bmi"
    >
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Your BMI</h2>
          <h1 class="display-4 text-center">{{ bmi | number : "1.2-2" }}</h1>
          <p class="lead text-center">
            This is considered <strong>{{ bmiCategory }}</strong>
          </p>
        </div>
      </div>
    </div>

    <div class="col col-sm-12 col-md-12 col-lg-5 pt-3 pt-lg-0">
      <div class="card border-0" id="infoCard">
        <div class="card-header border-0">
          <h3 class="card-title text-center">What is BMI?</h3>
        </div>
        <div class="card-body">
          <p>
            <strong>Body Mass Index (BMI)</strong>
            is a measure of body fat based on a person's weight and height. It
            is calculated by dividing a person's weight in kilograms by the
            square of their height in meters.
          </p>
          <p class="text-center pt-2 fw-bold">BMI Ranges</p>
          <p>The following are the ranges for BMI:</p>
          <ul>
            <li>
              <strong class="text-warning">Underweight:</strong> BMI less than
              18.5
            </li>
            <li>
              <strong class="text-success"> Normal weight:</strong> BMI between
              18.5 and 24.9
            </li>
            <li>
              <strong class="text-warning">Overweight:</strong> BMI between 25
              and 29.9
            </li>
            <li>
              <strong class="text-danger">Obese: </strong> BMI of 30 or greater
            </li>
          </ul>
          <p>
            It's important to note that these ranges are not definitive and
            other factors such as muscle mass and overall health should be
            considered when interpreting a person's BMI.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
