<div class="card">
  <div class="card-header">
    <h5 class="card-title text-left">
      {{ meal.name }} {{ meal.calories }} kcal
    </h5>
  </div>
  <div class="card-body">
    <div class="row justify-content-between">
      <p class="col-6">Mela Golden</p>
      <p class="col-auto">840gr</p>
      <p class="col-auto">88 kcal</p>
    </div>
    <div class="row justify-content-between">
      <p class="col-6">Encebollado de pescado mixto</p>
      <p class="col-auto">899gr</p>
      <p class="col-auto">88 kcal</p>
    </div>
    <div class="row justify-content-between">
      <p class="col-6">Mela Golden</p>
      <p class="col-auto">89990gr</p>
      <p class="col-auto">88999 kcal</p>
    </div>

    <span> </span>
  </div>
</div>
