<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-auto">
        <p class="card-title fw-bold">{{ meal.name }}:</p>
      </div>
      <div class="col-auto">{{ meal.calories }} kcal</div>
    </div>
  </div>
  <div class="card-body">
    <div class="row row-cols-3 justify-content-between">
      <p class="col-4 text-break">Mela Golden</p>
      <p class="col-3 text-end">840 gr</p>
      <p class="col-3 text-end">88 kcal</p>
      <a
        href="#"
        class="col-2 bi bi-trash3 text-end"
        style="color: red; cursor: pointer"
      ></a>
    </div>
    <div class="row row-cols-3 justify-content-between">
      <p class="col-4 text-break">Encebollado de pescado mixto</p>
      <p class="col-3 text-end">45899 gr</p>
      <p class="col-3 text-end">88 kcal</p>
      <a
        href="#"
        class="col-2 bi bi-trash3 text-end"
        style="color: red; cursor: pointer"
      ></a>
    </div>
    <div class="row row-cols-3 justify-content-between">
      <p class="col-4 text-break">Mela Golden</p>
      <p class="col-3 text-end">89990 gr</p>
      <p class="col-3 text-end">88999 kcal</p>
      <a
        href="#"
        class="col-2 bi bi-trash3 text-end"
        style="color: red; cursor: pointer"
      ></a>
    </div>
  </div>
</div>
