<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-auto">
        <h5 class="card-title text-left">{{ meal.name }}:</h5>
      </div>
      <div class="col-auto">{{ meal.calories }} kcal</div>
    </div>
  </div>
  <div class="card-body">
    <div class="row row-cols-3 justify-content-between">
      <p class="col-6">Mela Golden</p>
      <p class="col-auto">840 gr</p>
      <p class="col-auto">88 kcal</p>
    </div>
    <div class="row row-cols-3 justify-content-between">
      <p class="col-6">Encebollado de pescado mixto</p>
      <p class="col-auto">899 gr</p>
      <p class="col-auto">88 kcal</p>
    </div>
    <div class="row row-cols-3 justify-content-between">
      <p class="col-6">Mela Golden</p>
      <p class="col-auto">89990 gr</p>
      <p class="col-auto">88999 kcal</p>
    </div>
  </div>
</div>
