<div class="row justify-content-between mb-4">
  <div class="col-xs-3 col-sm-3 col-md-12 col-lg-5 mt-4">
    <button
      type="button"
      class="btn btn-success"
      [routerLink]="['/recipeEdit']"
    >
      New Recipe
    </button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4 mt-4 text-end">
    <input
      type="search"
      id="form1"
      class="form-control"
      placeholder="Search...."
      aria-label="Search"
    />
  </div>
</div>

<hr />

<div class="album py-2">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
      <app-recipe-item
        *ngFor="let recipe of recipes"
        [recipe]="recipe"
      ></app-recipe-item>
    </div>
  </div>
</div>
