<div class="card shadow-md" (click)="goToRecipeDetail()">
  <img class="card-img-top" [src]="recipe.imagePath" alt="Card image cap" />

  <title>Recipe</title>

  <div class="card-body px-3">
    <h5 class="card-title d-flex justify-content-between fw-bold py-2">
      {{ recipe.name }}
    </h5>
    <hr class="m-1" />

    <p class="card-text lh-sm">
      {{ recipe.description }}
    </p>
    <div class="row justify-content-around">
      <div class="col-6 col-sm-6 col-md-7 col-lg-5">
        <div class="row">
          <div class="col">
            <i class="bi bi-alarm"></i>
            <span class="px-1 fst-italic">{{ recipe.time }} min </span>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-7 col-lg-5">
        <div class="row">
          <div class="col">
            <i class="bi bi-fire"></i>
            <span class="px-1 fst-italic">{{ recipe.calories }} kcal</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
