.item-icons-size {
  font-size: x-large;
}

.icon-span-size {
  font-size: x-large;
}

.btn-zoom:hover {
  transform: scale(1.2, 1.3);
  -webkit-transform: scale(1.2, 1.3);
  -moz-transform: scale(1.2, 1.3);
}
