.item-icons-size {
  font-size: x-large;
}

.icon-span-size {
  font-size: x-large;
}

.btn-zoom:hover {
  transform: scale(1.1, 1.2);
  -webkit-transform: scale(1.1, 1.2);
  -moz-transform: scale(1.1, 1.2);
}
